
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">KL university </a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="home">Home</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Department <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">COmputers </a></li>
            <li><a href="#">mech </a></li>
            <li><a href="#">CIvil </a></li>
          </ul>
        </li>
        <li><a routerLink="galary">Galary</a></li>
        <li><a routerLink="bind">Binding</a></li>
        <li><a routerLink="dir">Directive</a></li>
        <li><a routerLink="form">Forms</a></li>
        <li><a routerLink="Reactive"> Reactive Forms</a></li>
        <li><a routerLink="pipe"> PIPE Demo </a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a routerLink="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>

<router-outlet></router-outlet>
  












