<div style="text-align: center;">
    <h1> Reactive Froms </h1>
    
    <div style="text-align: center;">
        <!-- <form [formsGroup]="student"> -->
         <h1>Hi Reactive From Tag</h1>
         
         First name : <input type="text" formControlName="firstname"><br>
         Last name : <input type="text"  formControlName="lastname"><br>
         Age :<input type="text"  formControlName="age"><br><br>
     
         <input type="submit" value="Register" >
         <input type="reset" value="RESET">
     
        <!-- </form> -->
     </div>
</div>